<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Stockz, <%= @user.email %>!</h1>
    <p>
      Thank you for registering with us. Your registration is currently pending and awaiting approval.
      Once approved, you'll be notified and can fully use your account.
      <p><strong>You must hit the link below to confirm that you received this email.</strong></p>
      <p><%= link_to "Yes, use this email for my account", identity_email_verification_url(sid: @signed_id) %></p>
    </p>
    <p>Thanks for your patience!</p>
    <p>Regards, <br>
      Stockz Team</p>
  </body>
</html>
