<div class="flex flex-col items-center mt-72 min-h-screen ">
  <div class="flex flex-col ">
    <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
      Welcome to our Journal Planner
    </h1>
    <p class="mb-8 leading-relaxed">
      An easy way to organize your daily journals. Sign in or sign up to begin!
    </p>
    <div class="flex justify-center">
      <%= link_to "Get Started!", sign_in_path, class: "inline-flex text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 shadow-lg shadow-blue-500/50 font-medium rounded-lg text-lg px-5 py-2.5 text-center" %>
    </div>
  </div>
</div>
