<span class="page<%= ' current' if page.current? %>">
  <%= link_to_unless page.current?, page, url, {remote: remote, rel: page.rel, class: (page.current? ? 'bg-blue-500 text-white' : '') + "px-4 py-2 inline-block hover:bg-gray-200 rounded transition"} %>
</span>
