<header class="bg-sky-800 py-4 ">
  <nav class="container mx-auto flex justify-between items-center px-6">
    <div class="flex items-center space-x-4">
      <%= link_to portfolios_path, class: "flex items-center space-x-2" do %>
        <span class="text-2xl font-bold text-white hover:text-blue-300 transition-colors">Journal - Planner</span>
      <% end %>
      <% if Current.user %>
        <p class="font-medium"> <%= link_to Current.user.email, home_index_url %> </p>
        <%= button_to "Log out", Current.session, method: :delete, class: "px-4 py-2 bg-red-500 text-white hover:bg-red-600 transition" %>
      <% end %>
    </div>
  </nav>
</header>
